@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.bienvenido {
  position: relative;
  margin: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: gold;
  text-align: center;
}

.formlogin {
  width: 30%;
  max-width: 500px;
  margin: auto;
  border-style: double;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.logintitulo {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: #fff;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: transparent;
}

.mostrarEvento {
  width: 640px;
  height: 345px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descripEvento {
  font-size: 18px;
}

.logintitulo p {
  text-align: center;
  font-size: 15px;
}

.botonAsistir {
  cursor: pointer;
  font-size: 20px;
}

.botonNoAsistir {
  cursor: pointer;
  font-size: 20px;
}

.descripTorneo {
  font-family: Arial;
  font-size: 18px;
  COLOR: rgba(243, 243, 243, 0.925);
  text-shadow: 0px 0px 9px rgba(243, 243, 243, 0.925);
}

.tituloTorneo {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  COLOR: rgba(247, 178, 52, 0.993);
  text-shadow: 0px 0px 9px rgba(247, 178, 52, 0.993);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div .brackets {
  float: left;
  width: 20%;
}

div#general {
  margin: auto;
  width: 80%;
  height: 800px;
  background-color: #FF5733;
}

div#home {
  margin: 3px auto;
  width: 80%;
  background-color: #FF5733;
}

div#home table {
  margin: 5px;
  padding: 5px;
}

table#progfiestas {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
}

table#progfiestas caption {
  font-family: sans-serif;
  font-size: 1.4em;
  color: white;
  border: 1px solid #000;
}

td, tr, th {
  border: 1px solid #000;
  text-align: center;
}

#escudo {
  margin: 0 auto;
  width: 960px;
  height: 268px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.boxshadow {
  -webkit-box-shadow: 1px 1px #000, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000;
          box-shadow: 1px 1px #000, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000;
  -ms-flex-line-pack: center;
      align-content: center;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

#banderaavila {
  float: left;
  margin: auto;
  width: 150px;
  height: 268px;
}

#pueblo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  background: url(https://media2.clubrural.com/img990x400/pueblos/avila/munico/20160218223336-avila-munico.jpg);
  width: 100%;
  height: 220px;
}

.cabecera {
  font-family: 'Luckiest Guy', cursive;
  font-size: 8em;
  color: rgba(255, 115, 0, 0.925);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: relative;
  top: -20px;
  text-shadow: 1px 1px #111, 1px 1px #111, 2px 2px #111, 3px 3px #111, 4px 4px #111, 5px 5px #111, 6px 6px #111, 7px 7px #111, 8px 8px #111, 9px 9px #111, 10px 10px #111, 11px 11px #111, 12px 12px #111, 13px 13px #111, 14px 14px #111, 15px 15px #111, 16px 16px #111, 17px 17px #111, 18px 18px #111, 19px 19px #111, 20px 20px #111, 21px 21px #111, 22px 22px #111, 23px 23px #111, 24px 24px #111, 25px 25px #111, 26px 26px #111, 27px 27px #111, 28px 28px #111, 29px 29px #111, 30px 30px #111;
}

.degradado {
  margin: 0;
  color: transparent;
  font-size: 4em;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-weight: normal;
  background: linear-gradient(120deg, red 20%, yellow 80%, red 90%);
  -webkit-background-clip: text;
  position: relative;
}

.degradado ::after {
  content: "MUÑICOLAND";
  position: absolute;
  width: 100%;
  top: 3px;
  left: 3px;
  color: #000;
  z-index: -1;
}

#tikitiki {
  margin-right: 5px;
  margin-top: 20px;
  width: 340px;
  height: 700px;
  float: right;
  position: relative;
  background-color: #FF5733;
}

.eventos {
  border-style: solid;
  margin: 0px auto;
  background-color: #000;
  width: auto;
  height: auto;
}

#caratula {
  width: 279px;
  height: 400px;
  border-style: solid;
}

.clasiftittle {
  color: yellow;
  background: #000;
  font-size: 22px;
}

table#puntuaciones {
  margin: auto;
  float: left;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

table#puntuaciones th {
  font-size: 17px;
}

table#puntuaciones td {
  text-align: center;
  color: white;
  border: 1px solid;
  padding: 10px;
}

table#puntuaciones tr:hover {
  background: #FF5733;
}

h1 {
  text-shadow: 1px 1px #111, 1px 1px #111, 2px 2px #111, 3px 3px #111, 4px 4px #111, 5px 5px #111, 6px 6px #111, 7px 7px #111, 8px 8px #111, 9px 9px #111, 10px 10px #111, 11px 11px #111, 12px 12px #111, 13px 13px #111, 14px 14px #111, 15px 15px #111, 16px 16px #111, 17px 17px #111, 18px 18px #111, 19px 19px #111, 20px 20px #111, 21px 21px #111, 22px 22px #111, 23px 23px #111, 24px 24px #111, 25px 25px #111, 26px 26px #111, 27px 27px #111, 28px 28px #111, 29px 29px #111, 30px 30px #111;
}

#homehead {
  font-size: 68px;
  vertical-align: middle;
  text-align: center;
  color: #FF5733;
  font-family: 'Arial Narrow Bold';
  text-shadow: 2px 0 0 #000,  -2px 0 0 #000,  0 2px 0 #000,  0 -2px 0 #000,  1px 1px #000,  -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000;
}

h2 {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px #111, 1px 1px #111, 2px 2px #111, 3px 3px #111, 4px 4px #111, 5px 5px #111, 6px 6px #111, 7px 7px #111, 8px 8px #111, 9px 9px #111, 10px 10px #111;
  color: white;
}

.evenParrafo {
  font-size: 12px;
}

h2#login {
  font-size: 36px;
  color: #FF5733;
  font-family: 'ARIAL';
}

h3 {
  font-size: 20px;
  font-weight: 20%;
  color: white;
  font-family: 'ARIAL';
}

#ocurriendo {
  font-size: 20px;
  font-weight: 20%;
  font-family: 'Luckiest Guy', cursive;
  color: gold;
  text-shadow: 1px 1px #111, 2px 2px #111, 3px 3px #111, 4px 4px #111, 5px 5px #111, 6px 6px #111, 7px 7px #111, 8px 8px #111, 9px 9px #111, 10px 10px #111, 11px 11px #111, 12px 12px #111, 13px 13px #111, 14px 14px #111, 15px 15px #111, 16px 16px #111, 17px 17px #111, 18px 18px #111, 19px 19px #111;
}

header {
  width: 100%;
}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: #FF5733;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background: #00695c;
}

section {
  padding: 20px;
}

@media screen and (max-width: 800px) {
  header nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .menu_bar {
    display: block;
    width: 100%;
    background: #000;
  }
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #00695c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_bar span {
    float: right;
    font-size: 40px;
  }
}
/*# sourceMappingURL=estilo.css.map */